.navbar {
    background-color: skyblue;
    color: white;
    padding: 5em 10em;
}

.navbar-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: inline-block;
    margin-right: auto;
}

.img {
    width: 20rem;
    height: auto;
}